<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>HOME PAGE :)</title>

</head>
<body>
	<header>
		<nav>
			<ul class="nav nav-full">
				<li class="nav-item home"><a class="nav-link active show" href="#home1">HOME</a></li>
				
				<li>
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active show" href="#home1">ARTICLES</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#profile1" >INVESTIR</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#messages1" >VENDRE</a>
						</li>
					</ul>
				</li>

				<li class="nav-item"><img src="/img/singe.jpg" class="avatar-xs"></li>
			</ul>
		</nav>
	</header>

	<div class="banner_coffee title-on-img-banner">
		<h1 class=""><i class="fa fa-cloud"></i>MON P'TIT TITLE</h1>
		<button class="btn btn-primary">A button</button>
	</div>

	<div>
		<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullaziadjzaoidaz dzadjozaidzaodhazoidhoazhdoizahdoizahdomco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>			
	</div>

	<div class="cards">	
		<div class="card">
			<img src="/img/wukong.jpg">
			<div class="container">
				<h2>Petit Singe</h2>
				<p>Jump like a Kangoo</p>
			</div>
		</div>

		<div class="card">
			<img src="/img/gnar.jpg">
			<div class="container">
				<h2>Petit Singe</h2>
				<p>Jump like a Kangoo</p>
			</div>
		</div>

		<div class="card">
			<img src="/img/ekko.jpeg">
			<div class="container">
				<h2>Petit Singe</h2>
				<p>Jump like a Kangoo</p>
			</div>
		</div>

	</div>


	<div class="banner_singe title-on-img-banner">
		<h1 class=""><i class="fa fa-cloud"></i>Do u want jump like him?</h1>
		<button class="btn btn-info">Choose your OWN monkey</button>
	</div>

	<h2>SUBSCRIBE:</h2>
	<form class="formulaire-controller">
		<div class="input-group">
			<label><i class="glyphicon glyphicon-envelope"></i> Email</label>
			<input type="text" placeholder="example@gmail.com">
		</div>
		
		<div class="input-group">
			<label><i class="glyphicon glyphicon-user"></i> Password</label>
			<input type="password" placeholder="Entrez mot de passe">
		</div>
		
		<input type="submit" value="Submit" id="submit">
	</form>



	
	<footer>
		<a href="#" class="btn btn-info">Twitter</a>
		<a href="#" class="btn btn-warning">Insta</a>
	</footer>



</body>
</html>