.avatar{
	width: 150px;
	border-radius: 50%;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.avatar-xs{
	width: 40px;
	border-radius: 50%;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.thumbnail{
	width: 150px;
	border-radius: 0%;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}