.btn-default{
	background-color: #FE822F;
	color: white;

	border-radius: 6px;
	box-shadow: none;
}

.btn-round{
	background-color: #FE822F;
	color: white;

	border-radius: 45%;
	box-shadow: none;
}

.btn-simple{
	background-color: white;
	color: #FE822F;

	border-radius: 20px;
	box-shadow: none;
	border: 1px solid #FE822F;

}

a{
	text-decoration: none;
}
.btn{
	background-color: #888888;

	height: auto;
	min-height: 40px;

	width: auto;
	min-width: 100px;
	max-width: 300px;

	color: white;
	padding: 8px;
	border: 1px solid black;
}

.btn-primary{
	vertical-align: bottom;
	background-color: #f96332;
}

.btn-info{
	color: white;
	background-color: #2CA8FF;
}

.btn-success{
	color: white;
	background-color: #18ce0f;
}

.btn-warning{

	background-color: #FFB236;
}



.btn:hover{
	border: 2px solid pink;
}