.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
	margin: 0% 5% 3% 0; 
	padding: auto;
	border: solid black 1px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 300px;
	max-height: 600px;
	background-color: #E0F8D8;
}

.card img{
	min-height: 400px;
	max-width: 300px;
}


h2, p{
	text-align:center;
}

.card:hover{
	border: solid black 2px;
	box-shadow: 0px 0px 4px 4px;
}